@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Bold.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Bold.woff') format("woff"), url('../fonts/Rubik/Rubik-Bold.ttf') format("truetype")
  font-weight: bolad
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Regular.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Regular.woff') format("woff"), url('../fonts/Rubik/Rubik-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Light.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Light.woff') format("woff"), url('../fonts/Rubik/Rubik-Light.ttf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url('../fonts/Rubik/Rubik-Medium.woff2') format("woff2"), url('../fonts/Rubik/Rubik-Medium.woff') format("woff"), url('../fonts/Rubik/Rubik-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal