@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header

	&-top
		padding: 10px 0
		background: #262626
		color: #fff

		&__text

			span
				font-weight: 300

		&__address
			font-weight: 300

			a
				color: #fff
				border-bottom: 1px solid

	&-wrap
		padding: 20px 0

	&-tel

		a
			display: block
			font-size: 16px
			font-weight: bold
			color: #000
			text-align: right


.divider
	display: inline-block
	padding: 0 10px
	vertical-align: middle


.logo
	position: relative
	display: inline-block

.btn
	position: relative
	display: inline-block
	padding: 6px 20px 6px
	font-size: 14px
	background: $green
	font-weight: 500
	border: none
	border-radius: 4px
	color: #fff
	text-align: center
	outline: none
	white-space: normal

	&:hover, &:focus
		color: #fff
		outline: none




	
.main-menu

	>ul
		list-style: none

		>li
			display: inline-block
			padding: 0 30px

			&.active
				background: #f7f7f7
				border-radius: 4px

			>a
				display: inline-block
				padding: 10px 0
				font-size: 16px
				color: #292a29

			&.dropdown
				position: relative

				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: -10px
					height: 10px
				>a
					position: relative
					padding-right: 15px

					&::before
						content: ''
						position: absolute
						right: 0
						top: 18px
						width: 9px
						height: 6px
						background: url(../img/drop-ic.png)
				
				.dropdown-menu
					display: none
					list-style: none
					position: absolute
					right: 0
					top: calc(100% + 10px)
					min-width: 200px
					padding: 10px 20px
					border: 1px solid #d8d8d8
					background: #fff
					z-index: 10

					li
						padding: 5px 15px
						border-bottom: 1px solid #d8d8d8

						&:last-child
							border-bottom: 0
							padding-bottom: 0

							a
								padding-bottom: 0

						a
							display: block
							padding: 5px 0
							font-size: 14px


.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: $green
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)


.banner
	max-width: 1170px
	margin: 0 auto 40px

	&-item
		position: relative
		img
			margin: 0 auto

		&__overlay
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			display: flex
			align-items: center

			.container
				max-width: 840px

			p
				margin-bottom: 25px
				font-size: 16px
				color: #dedede
				font-weight: 300
				
		&__title
			margin-bottom: 20px
			font-size: 48px
			color: #fff
			font-weight: bold

		&__more
			position: relative
			display: inline-block
			padding: 0 0 0 190px
			font-size: 16px
			font-weight: 500
			color: $green

			&::before
				content: ''
				position: absolute
				left: 0
				top: 8px
				width: 100px
				height: 3px
				background: $green
				transition: all .3s

			&:hover, &:focus
				color: $green
				opacity: 1
				&:before
					left: 10px








.slick-slide
	outline: none


.slick-arrow
	width: 28px
	height: 50px
	top: 45%
	z-index: 10

	&:hover
		opacity: 1

	&::before
		content: ''
		display: block
		width: 28px
		height: 50px
		opacity: 1
		transition: all .3s

.slick-prev
	left: 15px

	&::before
		background-image: url(../img/prev.png)
		background-repeat: no-repeat
		background-position: center




.slick-next
	right: 15px

	&::before
		background-image: url(../img/next.png)
		background-repeat: no-repeat
		background-position: center

.slick-dots
	bottom: 15px

	li
		width: 10px
		
		button:before
			color: #fff
			opacity: 1
		&.slick-active button:before
			color: $green
			opacity: 1




.advantages

	&-wrap
		display: flex
		flex-wrap: wrap

		&__row
			width: 50%

			&--hidden
				display: none


	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 30px

		&__hidden
			display: none

			&.active
				display: flex

		&__text
			width: 50%
			padding: 0 15px 0 30px

		&__img
			width: 50%

			img
				display: block

		&__number
			display: block
			margin-bottom: 15px
			font-size: 36px
			line-height: 24px
			font-weight: 300
			color: #e5e5e5

		h3
			margin-bottom: 15px

		p
			font-size: 16px
			color: #626262
			font-weight: 300

	&-show
		position: relative
		padding-bottom: 25px
		margin-bottom: 30px
		text-align: center


		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 30px
			width: 100%
			height: 1px
			background: #d8d8d8

		&__wrap
			position: relative
			display: inline-block
			padding: 0 30px
			background: #fff

		&__btn
			width: 60px
			height: 60px
			background: $green
			border-radius: 50%
			outline: none
			border: 1px solid transparent

			span
				display: inline-block
				font-size: 18px
				color: #fff
				transform: scale(3, 1)
				font-weight: 100

			&.active
				transform: rotate(180deg)
				background-color: transparent
				border-color: #d8d8d8

				span
					color: #d8d8d8




.using
	margin-bottom: 40px

	h2
		text-align: center

	&-wrap
		display: flex
		justify-content: space-between
		padding: 30px 25px 20px
		border: 1px dashed #d8d8d8

	&-item
		width: 19%
		list-style: none

		li
			position: relative
			padding: 0 0 0 20px
			margin: 0 0 10px
			color: #000
			font-weight: 300

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 8px
				height: 6px
				background: url(../img/check.png)


.catalog

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 20px

		&__img
			margin-bottom: 20px
			overflow: hidden
				
			a
				display: block

			img
				display: block
				transition: all .3s

			&:hover
				a
					opacity: 1
				img
					transform: scale(1.1)

		h4
			margin-bottom: 10px

			a
				text-decoration: underline

		p
			color: #9b9b9b
			font-weight: 300

.about
	padding: 40px 0 40px
	background: #f9f9f9

	h2
		margin-bottom: 20px

	&-text

		p
			margin-bottom: 15px
			color: #525252

		ul
			margin-bottom: 50px
			list-style: none

			li
				position: relative
				padding: 0 0 0 40px
				margin-bottom: 15px
				color: #525252

				&::before
					content: ''
					position: absolute
					left: 0
					top: 7px
					height: 1px
					width: 26px
					background: $green

		ul+h2+p
			font-size: 16px


.licenses

	&-slider
		img
			margin: 0 auto

		.slick-prev
			left: -20px

		.slick-next
			right: -20px


.brands-slider
	margin: 30px 0 0

	.slick-arrow
		top: 52%

	.slick-prev
		left: -45px

	.slick-next
		right: -45px


.seo
	padding: 30px 0 40px

	h2
		margin-bottom: 20px
		color: #acacac

	p
		margin-bottom: 15px
		color: #818181
		font-weight: 300

.news
	padding: 20px 0 0

	h3
		margin-bottom: 10px
		font-size: 16px
		line-height: 18px
		

		a
			color: $green
			text-decoration: underline


.footer
	padding: 25px 0 20px
	border-top: 1px solid #eaeaea

	&-wrap
		display: flex
		justify-content: space-between
		padding-bottom: 20px

	&-links
		width: 60%
		display: flex
		justify-content: space-between

		ul
			list-style: none

			li
				position: relative
				padding: 0 0 0 14px
				font-size: 14px
				line-height: 28px

				&::before
					content: '>'
					position: absolute
					left: 0
					top: 0
					font-size: 10px
					color: $green

				a
					color: #626262

	&-contacts
		text-align: right

		&__tel
			margin-bottom: 18px
			a
				display: block
				font-size: 16px
				font-weight: bold
				color: #1f1f1f

		&__address
			color: #818181
			font-weight: 300

			span
				display: block

			a
				color: #818181
				text-decoration: underline

	&-bottom
		padding: 25px 0 0
		border-top: 1px solid #eaeaea

		a
			color: #b7b7b7

		span
			font-weight: 300
			color: #b7b7b7



.inner
	border-top: 1px solid #d8d8d8

	&-wrap
		display: flex
		flex-wrap: wrap

	&-content
		width: calc(100% - 245px)
		padding: 0 0 50px 45px


.sidebar
	width: 245px
	padding: 25px 15px 30px 0
	border-right: 1px solid #eaeaea

	&-header
		margin-bottom: 20px
		font-size: 18px
		text-transform: uppercase
		font-weight: 300
		color: #8b8b8b

	&-menu
		margin-bottom: 50px
		list-style: none

		>li
			position: relative
			padding: 0 0 0 20px
			margin-bottom: 18px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 12px
				height: 12px
				background: url(../img/arrow-circle.png)


			>a
				font-size: 15px
				color: #000
				font-weight: 500

				&:hover, &:focus
					color: $green
					opacity: 1

			>ul
				padding: 12px 0 10px 20px
				list-style: none

				>li
					position: relative
					margin-bottom: 15px
					padding: 0 0 0 18px

					&::before
						content: '>'
						position: absolute
						left: 0
						top: 2px
						font-size: 12px


					&:last-child
						margin-bottom: 0

					>a
						font-weight: 300
						color: #000

						&:hover
							text-decoration: underline
							opacity: 1

	&-item
		margin-bottom: 30px

		h3
			margin-bottom: 20px

		p
			font-weight: 300
			color: #626262

.breadcrumbs
	margin: 22px 0 40px
	padding-bottom: 5px
	border-bottom: 1px dotted #eaeaea
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		color: #4c4c4c
		font-weight: 300

		+ li::before
			content: ">"
			padding: 0 10px 0 8px
			font-size: 14px

		a
			position: relative
			color: #4c4c4c
			font-weight: 300

.article

	h1
		margin-bottom: 20px

	p
		margin-bottom: 15px
		font-size: 15px
		line-height: 21px
		color: #464545
		font-weight: 300

		a
			color: #232323
			text-decoration: underline

	blockquote
		padding: 25px 40px
		margin-bottom: 30px
		background: #fafafa
		border-radius: 6px
		border: 1px dashed $green

		p
			display: inline-block
			margin-bottom: 0

			.btn
				margin-left: 10px
				margin-top: 5px
				text-decoration: none
				color: #fff


		strong
			font-weight: 500

	h3
		margin-bottom: 15px

	ul
		margin-bottom: 30px
		list-style: none

		li
			position: relative
			padding: 0 0 0 26px
			font-weight: 300
			margin-bottom: 15px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 1px
				width: 15px
				height: 15px
				background: url(../img/check-circle.png)


table
	width: 100%
	border-collapse: collapse

	thead

		tr
			td
				font-size: 15px
				font-weight: 500
				color: #515151
				background: #f0f9f0

	tr
		td
			padding: 16px 25px
			font-weight: 300
			border: 1px solid #ebebeb



.sidebar-mobile__btn
	display: none























@media only screen and (max-width: 1230px)
	.container
		width: 970px

	.main-menu>ul>li
		padding: 0 15px

	.footer-links 
		width: 65%

	.advantages-item

		h3
			font-size: 16px

		p
			font-size: 14px

	.advantages-item__number
		margin-bottom: 5px
		font-size: 30px

	.brands-slider
		padding: 0 50px

		.slick-prev
			left: 0

		.slick-next
			right: 0

	.using-wrap
		flex-wrap: wrap
		justify-content: space-between

	.using-item
		width: 30%
		margin-bottom: 20px















@media only screen and (max-width: 992px)
	.container
		width: 750px

	.header-top
		font-size: 12px

	.burger-menu
		display: inline-block
		line-height: 0


	.main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 68px
		z-index: 100
		ul
			
			padding: 20px
			background: #fff
			z-index: 100
			border-top: 1px solid #e6edef

			li
				display: block
				margin-bottom: 5px
				text-align: center
				
				&.dropdown
					>a
						padding-right: initial

						&::before
							right: -15px

					.dropdown-menu
						position: static
						border: none



	.banner-item__overlay .container
		max-width: 660px

	.licenses
		margin: 30px 0 0
		text-align: center

	.licenses-slider
		max-width: 320px
		margin: 0 auto 50px

	.sidebar-wrap
		display: none

	.sidebar
		position: fixed
		left: 15px
		top: 150px
		border: none

		&.active
			position: absolute
			left: 20px
			top: 150px
			z-index: 10
			background: #fff
			border: 1px solid #eaeaea

			.sidebar-wrap
				display: block


	.inner-content
		width: 100%

	.sidebar-mobile__btn
		display: block
		padding: 10px
		background: #fff
		border-radius: 2px
		border: 1px solid #eaeaea
		border-left: 0
		outline: none

		&:hover, &:focus
			opacity: 1

		span
			position: relative
			display: inline-block
			writing-mode: vertical-rl
			text-orientation: upright
			text-transform: uppercase
			font-size: 10px
			padding-bottom: 10px

			&::before
				content: '→'
				position: absolute
				left: 0
				bottom: -5px
				font-size: 14px

		&.active
			position: absolute
			right: -33px
			top: -1px
			span
				&::before
					content: '←'














@media only screen and (max-width: 768px)
	.container
		width: auto

	.header-top
		display: none

	.banner-item__title
		font-size: 24px
		margin-bottom: 5px

	.banner-item__overlay p
		margin-bottom: 15px
		font-size: 12px

	.slick-dots
		bottom: 5px

	.advantages-wrap__row
		width: 100%

	.main-menu
		top: 102px

		>ul>li.dropdown .dropdown-menu li
			padding: 0px 15px

			a
				font-size: 12px

	.using-item
		width: 48%

	.footer-links ul li
		font-size: 12px

	.footer-contacts__tel a
		font-size: 14px

	.footer-contacts__address
		font-size: 12px

	.footer-bottom span
		font-size: 12px

	.inner-content
		padding: 0 0 50px 50px

	h1
		font-size: 22px

	.breadcrumbs
		margin: 20px 0 30px

	table tr td
		padding: 10px














@media only screen and (max-width: 479px)
	.using-item li
		font-size: 12px

	.logo
		max-width: 80px

	.header-tel a
		font-size: 12px

	.header-wrap
		padding: 10px 0

	.main-menu
		top: 53px

	.banner-item__overlay
		position: static

	.banner
		.slick-arrow
			top: 24%

	.banner-item__title
		padding: 15px 0 0
		font-size: 20px
		color: #000

	.banner-item__overlay p
		color: #000

		br
			display: none

	.banner
		.slick-dots
			bottom: auto

	.banner-item__more
		padding: 0 0 0 100px
		text-decoration: underline
		font-weight: normal

		&::before
			width: 70px
			height: 1px
			top: 10px


	.advantages-item__text
		padding: 0 15px 0 15px
		width: 70%

	.advantages-item__img
		width: 30%

	.advantages-item
		margin-bottom: 20px

		h3
			margin-bottom: 5px
			font-size: 14px
		p
			font-size: 12px

	.advantages-item__number 
		margin-bottom: 0
		font-size: 24px

	.using-wrap
		display: block
		column-count: 2
		padding: 15px

	.using-item
		width: auto

		li
			padding: 0px 0 0 15px

			&:before
				top: 3px

	.advantages-show
		margin-bottom: 0

	.using
		margin-bottom: 30px

	.catalog-item

		&__img
			margin-bottom: 10px
		h4
			font-size: 12px

		p
			font-size: 12px

	h2
		font-size: 20px

	.seo
		padding: 30px 0 20px

	.footer-wrap
		display: block
		text-align: center

	.footer-links
		display: block
		width: auto

		ul

			li
				padding: 0

				&::before
					display: none
				a
					text-decoration: underline

	.footer-contacts__tel 
		margin: 10px 0 10px
		text-align: center

	.footer-contacts__address
		font-size: 12px
		text-align: center

	.footer-bottom
		display: block
		padding: 15px 0 0
		text-align: center

		span
			font-size: 10px



	.footer-logo
		display: inline-block
		margin-bottom: 5px

	.licenses-slider
		max-width: 240px
		margin: 0 auto 30px

		.slick-prev 
		    left: -35px

		.slick-next
			right: -35px

	.slick-arrow
		&:before
			width: 20px
			height: 38px
			background-size: contain

	table tr td, table thead tr td
		padding: 5px
		font-size: 10px

	.article blockquote
		padding: 20px 30px

	.article p
		font-size: 12px

	.breadcrumbs li
		font-size: 12px

	.article ul li
		font-size: 12px